$color-black: hsl(0, 0%, 5%);
$color-color: hsl(0, 0%, 100%);

$procent-html: 80%;
$procent-css: 60%;
$procent-js: 40%;
$procent-git: 20%;
$procent-editor: 60%;
$procent-ps: 10%;


@function strokeDashoffset($num) {
  @return 440 - (440 * $num) / 100;
}

.progressbar {
  position: relative;
  max-width: 170px;
  max-height: 170px;
  margin: 1em;
  transform: rotate(-90deg);
}

.progressbar_svg {
  position: relative;
  width: 100%;
  height: 100%;
}

.progressbar_svg_circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke: hsl(183, 100%, 62%);
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

.circle {
  &-html {
    animation: anim_circle-html 1s ease-in-out forwards;
  }
}

@keyframes anim_circle-html {
  to {
    stroke-dashoffset: strokeDashoffset($procent-html);
  }
}

@keyframes anim_circle-html {
  to {
    stroke-dashoffset: strokeDashoffset($procent-css);
  }
}

@keyframes anim_circle-html {
  to {
    stroke-dashoffset: strokeDashoffset($procent-js);
  }
}

@keyframes anim_circle-html {
  to {
    stroke-dashoffset: strokeDashoffset($procent-git);
  }
}

@keyframes anim_circle-html {
  to {
    stroke-dashoffset: strokeDashoffset($procent-ps);
  }
}

@keyframes anim_circle-html {
  to {
    stroke-dashoffset: strokeDashoffset($procent-editor);
  }
}